# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
packages/
*.nupkg

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# External Changes
livefinal/
publish/
pub/
