 /*Now the CSS*/
        * {
            margin: 0;
            padding: 0;
        }
        .tree
        {
            transition: all 0.3s;
    transform: scale(1);
    width:100%;
        }

        .tree ul {
            padding-top: 20px;
            position: relative;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
        }

        .tree li {
            float: left;
            text-align: center;
            list-style-type: none;
            position: relative;
            padding: 20px 5px 0 5px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
        }

            /*We will use ::before and ::after to draw the connectors*/

            .tree li::before, .tree li::after {
                content: '';
                position: absolute;
                top: 0;
                right: 50%;
                border-top: 1px solid #3d3d3f;
                width: 50%;
                height: 20px;
            }

            .tree li::after {
                right: auto;
                left: 50%;
                border-left: 1px solid #3d3d3f;
            }

            /*We need to remove left-right connectors from elements without 
any siblings*/
            .tree li:only-child::after, .tree li:only-child::before {
                display: none;
            }

            /*Remove space from the top of single children*/
            .tree li:only-child {
                padding-top: 0;
            }

            /*Remove left connector from first child and 
right connector from last child*/
            .tree li:first-child::before, .tree li:last-child::after {
                border: 0 none;
            }
            /*Adding back the vertical connector to the last nodes*/
            .tree li:last-child::before {
                border-right: 1px solid #3d3d3f;
                border-radius: 0;
                -webkit-border-radius:0;
                -moz-border-radius: 0;
            }

            .tree li:first-child::after { 
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
            }

        /*Time to add downward connectors from parents*/
        .tree ul ul::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            border-left: 1px solid #3d3d3f;
            width: 0;
            height: 20px;
        }

        .tree li a {
            border: 1px solid #ccc;
            padding: 5px 5px;
            text-decoration: none;
            color: #666;
            font-size: 11px;
            display: inline-block;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
        }

            /*Time for some hover effects*/
            /*We will apply the hover effect the the lineage of the element also*/
            .tree li a:hover, .tree li a:hover + ul li a {
                /*background: #c8e4f8;
                color: #000;
                border: 1px solid #94a0b4;*/
                /*transform: scale(1);*/
            }
                /*Connector styles on hover*/
                .tree li a:hover + ul li::after,
                .tree li a:hover + ul li::before,
                .tree li a:hover + ul::before,
                .tree li a:hover + ul ul::before {
                    border-color: #3d3d3f;
                }

        /*Thats all. I hope you enjoyed it.
Thanks :)*/
   
        .style_prevu_kit
        {
            display: inline-block;
            border: 0; /*width: 196px;
            height: 210px;*/
            position: relative;
            -webkit-transition: all 200ms ease-in;
            -webkit-transform: scale(1);
            -ms-transition: all 200ms ease-in;
            -ms-transform: scale(1);
            -moz-transition: all 200ms ease-in;
            -moz-transform: scale(1);
            transition: all 200ms ease-in;
            transform: scale(1);
        }
        .style_prevu_kit:hover
        {
            box-shadow: 0px 0px 150px #000000;
            z-index: 2;
            -webkit-transition: all 200ms ease-in;
            -webkit-transform: scale(1.5);
            -ms-transition: all 200ms ease-in;
            -ms-transform: scale(1.5);
            -moz-transition: all 200ms ease-in;
            -moz-transform: scale(1.5);
            transition: all 200ms ease-in;
            transform: scale(1.5);
        }
        #zoomsection
        {
            display: none;
            margin: auto;
            border: 1px solid black;
            width: 50px;
            height: 50px;
            background-color: coral;
            color: white;
            transition: all .2s ease-in-out;
        }
        #chart
        {
            transition: all .4s ease-in-out;
            transform: scale(1);
            padding:20px;
        }
        #chart ul li
        {
           /* background-color: rgba(255, 235, 205, 0.35);*/
        }
        a
        {
            cursor: pointer;
        }
        label
        {
            font-weight: 100;
        }
        
        table
        {
            border-collapse: inherit; /* border-spacing: 0; */
        }
        #box {
            background: #fcffd5;
            /* cursor: move; */
            margin-left: 3px;
            float: right;
            max-height: 100%;
            height: auto;
            width: 92%;
            position: relative;
            overflow: auto;
            text-align: center;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }

        #zm {
            float: left;
            width: 100%;
            height: 98%;
            box-shadow: 0px 0px 4px 1px gray;
            text-align: center;
            min-height: 640px;
        }
        #val
        {
            float: left;
            width: 100%;
            height: auto;
            box-shadow: 0px 0px 4px 1px gray;
            text-align: center;
            min-height: 50px;
        }
        .google-visualization-orgchart-node-medium:hover
        {
            transition: all 0.6s ease-in-out;
            transform: scale(10);
        }
        header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus
        {
            border: 1px solid #546E7A !important;
            background: #607D8B !important;
            font-weight: normal;
            color: #2b2b2b;
            /*width: 30px !important;
            margin-left: -5px !important;*/
        }
        .dp
        {
            width: 25%;
        }
